<div class="container">
  <div class="row">
    <div class="col-sm-12" ng-show="isPasswordSet">
      <h1>Changer de mot de passe</h1>
    </div>
    <div class="col-sm-12" ng-hide="isPasswordSet">
      <h1>Définir votre mot de passe</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>

        <div class="form-group" ng-show="isPasswordSet">
          <label>Mot de passe actuel</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ vm.errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>Nouveau mot de passe</label>

          <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
            Votre mot de passe doit être d'au moins 3 caractères.
          </p>
        </div>

        <div class="form-group">
          <label>Confirmer le nouveau mot de passe</label>

          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.newPassword"
                 ng-minlength="3"
                 required=""/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            Les mots de passe doivent correspondre.
          </p>

        </div>

        <p class="help-block"> {{ vm.message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Valider</button>
      </form>
    </div>
  </div>
</div>
