<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Enregistrement</h1>
    </div>
    <div class="col-sm-12">
      <br />
      <form class="form" name="userForm" ng-submit="vm.finalizeUser(userForm)" novalidate>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" ng-class="{ 'has-success': userForm.firstName.$valid && vm.submitted,
                                                'has-error': userForm.firstName.$invalid && vm.submitted }">
              <label>Prénom</label>

              <input type="text" name="firstName" class="form-control" ng-model="vm.user.firstName"
                     required autofocus />
              <p class="help-block" ng-show="userForm.firstName.$error.required && vm.submitted">
                Votre prénom est requis
              </p>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group" ng-class="{ 'has-success': userForm.lastName.$valid && vm.submitted,
                                                'has-error': userForm.lastName.$invalid && vm.submitted }">
              <label>Nom</label>

              <input type="text" name="lastName" class="form-control" ng-model="vm.user.lastName"
                     required/>
              <p class="help-block" ng-show="userForm.lastName.$error.required && vm.submitted">
                Votre nom est requis
              </p>
            </div>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-success': userForm.email.$valid && vm.submitted,
                                            'has-error': userForm.email.$invalid && vm.submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="userForm.email.$error.email && vm.submitted">
            Cela ne semble pas être une adresse email valide.
          </p>
          <p class="help-block" ng-show="userForm.email.$error.required && vm.submitted">
            Quelle est votre adresse email ?
          </p>
          <p class="help-block" ng-show="userForm.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>


        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" ng-class="{ 'has-success': userForm.password.$valid && vm.submitted,
                                                'has-error': userForm.password.$invalid && vm.submitted }">
              <label>Mot de passe</label>

              <input type="password" name="password" class="form-control" ng-model="vm.user.password"
                     ng-minlength="3"
                     required
                     mongoose-error/>
              <p class="help-block"
                 ng-show="(userForm.password.$error.minlength || userForm.password.$error.required) && vm.submitted">
                Le mot de passe doit être d'au moins 3 caractères.
              </p>
              <p class="help-block" ng-show="userForm.password.$error.mongoose">
                {{ vm.errors.password }}
              </p>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group" ng-class="{ 'has-success': userForm.confirmPassword.$valid && vm.submitted,
                                                'has-error': userForm.confirmPassword.$invalid && vm.submitted }">
              <label>Confirmer le mot de passe</label>
              <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                     match="vm.user.password"
                     ng-minlength="3" required/>
              <p class="help-block"
                 ng-show="userForm.confirmPassword.$error.match && vm.submitted">
                Les mots de passe doivent être identiques.
              </p>
            </div>
          </div>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-register" type="submit">
            S'enregistrer
          </button>
          <a class="btn btn-default btn-lg btn-login" ui-sref="login">
            Connexion
          </a>
        </div>

        <hr/>
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <oauth-buttons classes="btn-block"></oauth-buttons>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>
