<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Enregistrement</h1>
    </div>
    <div class="col-sm-12" ng-show="clubSubmitted == false">
      <uib-tabset active="activeJustified">
        <uib-tab index="0" heading="Compte individuel">
          <br />
          <form class="form" name="userForm" ng-submit="vm.registerUser(userForm)" novalidate>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group" ng-class="{ 'has-success': userForm.firstName.$valid && vm.submitted,
                                                    'has-error': userForm.firstName.$invalid && vm.submitted }">
                  <label>Prénom</label>

                  <input type="text" name="firstName" class="form-control" ng-model="vm.user.firstName"
                         required autofocus />
                  <p class="help-block" ng-show="userForm.firstName.$error.required && vm.submitted">
                    Votre prénom est requis
                  </p>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group" ng-class="{ 'has-success': userForm.lastName.$valid && vm.submitted,
                                                    'has-error': userForm.lastName.$invalid && vm.submitted }">
                  <label>Nom</label>

                  <input type="text" name="lastName" class="form-control" ng-model="vm.user.lastName"
                         required/>
                  <p class="help-block" ng-show="userForm.lastName.$error.required && vm.submitted">
                    Votre nom est requis
                  </p>
                </div>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-success': userForm.email.$valid && vm.submitted,
                                                'has-error': userForm.email.$invalid && vm.submitted }">
              <label>Email</label>

              <input type="email" name="email" class="form-control" ng-model="vm.user.email"
                     required
                     mongoose-error/>
              <p class="help-block" ng-show="userForm.email.$error.email && vm.submitted">
                Cela ne semble pas être une adresse email valide.
              </p>
              <p class="help-block" ng-show="userForm.email.$error.required && vm.submitted">
                Quelle est votre adresse email ?
              </p>
              <p class="help-block" ng-show="userForm.email.$error.mongoose">
                {{ vm.errors.email }}
              </p>
            </div>


            <div class="row">
              <div class="col-sm-6">
                <div class="form-group" ng-class="{ 'has-success': userForm.password.$valid && vm.submitted,
                                                    'has-error': userForm.password.$invalid && vm.submitted }">
                  <label>Mot de passe</label>

                  <input type="password" name="password" class="form-control" ng-model="vm.user.password"
                         ng-minlength="3"
                         required
                         mongoose-error/>
                  <p class="help-block"
                     ng-show="(userForm.password.$error.minlength || userForm.password.$error.required) && vm.submitted">
                    Le mot de passe doit être d'au moins 3 caractères.
                  </p>
                  <p class="help-block" ng-show="userForm.password.$error.mongoose">
                    {{ vm.errors.password }}
                  </p>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group" ng-class="{ 'has-success': userForm.confirmPassword.$valid && vm.submitted,
                                                    'has-error': userForm.confirmPassword.$invalid && vm.submitted }">
                  <label>Confirmer le mot de passe</label>
                  <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                         match="vm.user.password"
                         ng-minlength="3" required/>
                  <p class="help-block"
                     ng-show="userForm.confirmPassword.$error.match && vm.submitted">
                    Les mots de passe doivent être identiques.
                  </p>
                </div>
              </div>
            </div>

            <!-- <div class="form-group" ng-class="{ 'has-success': userForm.userClubCode.$valid && vm.submitted,
                                                'has-error': userForm.userClubCode.$invalid && vm.submitted }">
              <label>Si vous faites partie d'un club d'investissement, entrez son code</label>

              <input type="text" name="clubCode" class="form-control" 
                      />
            </div> -->

            <div>
              <button class="btn btn-inverse btn-lg btn-register" type="submit">
                S'enregistrer
              </button>
              <a class="btn btn-default btn-lg btn-login" ui-sref="login">
                Connexion
              </a>
            </div>

            <hr/>
            <div class="row">
              <div class="col-sm-4 col-md-3">
                <oauth-buttons classes="btn-block"></oauth-buttons>
              </div>
            </div>
          </form>
        </uib-tab>
        <uib-tab index="1" heading="Club d'investissement" disable="tab.disabled">

          <br />
          <form class="form" name="clubForm" ng-submit="vm.registerClub(clubForm)" novalidate>

            <div class="row">
              <div class="col-sm-7">
                <div class="form-group" ng-class="{ 'has-success': clubForm.clubName.$valid && vm.submitted,
                                                    'has-error': clubForm.clubName.$invalid && vm.submitted }">
                  <label>Nom du club d'investissement</label>

                  <input type="text" name="clubName" class="form-control" ng-model="vm.club.clubName"
                         required />
                  <p class="help-block" ng-show="clubForm.clubName.$error.required && vm.submitted">
                    Le nom du club est requis
                  </p>
                </div>
              </div>

              <div class="col-sm-5">
                <div class="form-group" ng-class="{ 'has-success': clubForm.creationDate.$valid && vm.submitted,
                                                    'has-error': clubForm.creationDate.$invalid && vm.submitted }">
                  <label>Date de création du club</label>

                  <input type="date" name="creationDate" class="form-control" ng-model="vm.club.creationDate"
                         required />
                  <p class="help-block" ng-show="clubForm.creationDate.$error.required && vm.submitted">
                    La date de création du club est requise
                  </p>
                  <p class="help-block" ng-show="clubForm.creationDate.$error.date && vm.submitted">
                    Le format de date n'est pas valide
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <div class="form-group" ng-class="{ 'has-success': clubForm.initialAmount.$valid && vm.submitted,
                                                    'has-error': clubForm.initialAmount.$invalid && vm.submitted }">
                  <label>Montant du versement initial</label>

                  <div class="input-group">
                    <input type="number" name="initialAmount" class="form-control" ng-model="vm.club.initialAmount"
                           required />
                    <span class="input-group-addon">€</span>
                  </div>
                  <p class="help-block" ng-show="clubForm.initialAmount.$error.required && vm.submitted">
                    Le montant du versement initial est requis
                  </p>
                  <p class="help-block" ng-show="clubForm.initialAmount.$error.number && vm.submitted">
                    Entrez un nombre
                  </p>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group" ng-class="{ 'has-success': clubForm.monthlyAmount.$valid && vm.submitted,
                                                    'has-error': clubForm.monthlyAmount.$invalid && vm.submitted }">
                  <label>Montant du versement régulier</label>

                  <div class="input-group">
                    <input type="number" name="monthlyAmount" class="form-control" ng-model="vm.club.monthlyAmount"
                           required />
                    <span class="input-group-addon">€ / 
                      <span ng-show="vm.club.periods.weekdayMode && vm.club.periods.weekday.regularity>1">{{vm.club.periods.weekday.regularity}}</span>
                      <span ng-show="!vm.club.periods.weekdayMode && vm.club.periods.fixed.regularity>1">{{vm.club.periods.fixed.regularity}}</span>
                       mois</span>
                  </div>
                  <p class="help-block" ng-show="clubForm.monthlyAmount.$error.required && vm.submitted">
                    Le montant du versement régulier est requis
                  </p>
                  <p class="help-block" ng-show="clubForm.monthlyAmount.$error.number && vm.submitted">
                    Entrez un nombre
                  </p>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group" ng-class="{ 'has-success': clubForm.shareAmount.$valid && vm.submitted,
                                                    'has-error': clubForm.shareAmount.$invalid && vm.submitted }">
                  <label>Montant de la part</label>

                  <div class="input-group">
                    <input type="number" name="shareAmount" class="form-control" ng-model="vm.club.shareAmount"
                           required />
                    <span class="input-group-addon">€</span>
                  </div>
                  <p class="help-block" ng-show="clubForm.shareAmount.$error.required && vm.submitted">
                    Le montant de la part est requis
                  </p>
                  <p class="help-block" ng-show="clubForm.shareAmount.$error.number && vm.submitted">
                    Entrez un nombre
                  </p>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group" ng-class="{ 'has-success': clubForm.exitPercentage.$valid && vm.submitted,
                                                    'has-error': clubForm.exitPercentage.$invalid && vm.submitted }">
                  <label>Pourcentage de frais de démission</label>

                  <div class="input-group">
                    <input type="number" name="exitPercentage" class="form-control" ng-model="vm.club.exitPercentage"
                         required />
                    <span class="input-group-addon">%</span>
                  </div>
                  <p class="help-block" ng-show="clubForm.exitPercentage.$error.required && vm.submitted">
                    Le pourcentage de frais de démission est requis
                  </p>
                  <p class="help-block" ng-show="clubForm.exitPercentage.$error.number && vm.submitted">
                    Entrez un nombre
                  </p>
                </div>
              </div>

            </div>

            <br />

            <div class="signup-club-periods">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Périodes</label>
                    <i> - Notre conseil : Définissez les périodes au même rythme que les réunions du club.</i><br />
                    <div class="col-sm-offset-1 col-sm-5 text-right">
                      <input id="periods-weekday" type="checkbox" ng-model="vm.club.periods.weekdayMode" ng-change="changeMode(vm, 'weekday')" />
                      <label for="periods-weekday">
                        <select class="input-periods" name="periods-weekday-number" ng-model="vm.club.periods.weekday.number" ng-change="changeMode(vm, 'weekday')">
                          <option value="1">le 1er</option>
                          <option value="2">le 2ème</option>
                          <option value="3">le 3ème</option>
                          <option value="4">le 4ème</option>
                        </select>
                        <select class="input-periods" name="periods-weekday-day" ng-model="vm.club.periods.weekday.day" ng-change="changeMode(vm, 'weekday')">
                          <option value="1">lundi</option>
                          <option value="2">mardi</option>
                          <option value="3">mercredi</option>
                          <option value="4">jeudi</option>
                          <option value="5">vendredi</option>
                          <option value="6">samedi</option>
                          <option value="0">dimanche</option>
                        </select>
                        <select class="input-periods" name="periods-weekday-regularity" ng-model="vm.club.periods.weekday.regularity" ng-change="changeMode(vm, 'weekday')">
                          <option value="1">de chaque mois</option>
                          <option value="2">tous les 2 mois</option>
                          <option value="3">tous les 3 mois</option>
                          <option value="4">tous les 4 mois</option>
                          <option value="5">tous les 5 mois</option>
                          <option value="6">tous les 6 mois</option>
                        </select>
                      </label>
                    </div>
                    <div class="col-sm-1 text-center" style="margin-top: 6px">
                      ou
                    </div>
                    <div class="col-sm-5">
                      <input id="periods-fixed" type="checkbox" ng-model="vm.club.periods.weekdayMode" ng-true-value="false" ng-false-value="true" ng-change="changeMode(vm, 'fixed')">
                      <label for="periods-fixed">
                        <select class="input-periods" name="periods-fixed-number" ng-model="vm.club.periods.fixed.number" ng-change="changeMode(vm, 'fixed')">
                          <option ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]" value="{{i}}">le {{ i }}</option>
                        </select>
                        <select class="input-periods" name="periods-fixed-regularity" ng-model="vm.club.periods.fixed.regularity" ng-change="changeMode(vm, 'fixed')">
                          <option value="1">de chaque mois</option>
                          <option value="2">tous les 2 mois</option>
                          <option value="3">tous les 3 mois</option>
                          <option value="4">tous les 4 mois</option>
                          <option value="5">tous les 5 mois</option>
                          <option value="6">tous les 6 mois</option>
                        </select>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-11 text-center">
                  avec la première période du {{vm.club.creationDate | date : "dd/MM/yyyy"}} au&nbsp;
                  <select class="input-periods" name="periods-fixed-regularity" ng-model="vm.club.endFirstPeriod">
                    <option ng-repeat="endFP in vm.club.endFirstPeriods track by $index" value="{{$index}}">{{endFP | date : "dd/MM/yyyy"}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-sm-12">
                <br />
                <div class="text-center">

                  <label>Membres</label>
                  <br />

                  <div class="row">
                    <div class="col-sm-offset-2 col-sm-2">
                      <b>Prénom</b>
                    </div>
                    <div class="col-sm-2">
                      <b>Nom</b>
                    </div>
                    <div class="col-sm-2">
                      <b>Fonction</b>
                    </div>
                    <div class="col-sm-2">
                      <b>Email</b>
                    </div>
                  </div>

                  <div class="row" ng-repeat="(i, member) in members track by $index">
                    <div class="col-sm-offset-2 col-sm-2" ng-class="{ 'has-success': clubForm.firstName{{i}}.$valid && vm.submitted,
                                                    'has-error': clubForm.firstName{{i}}.$invalid && vm.submitted }">
                      <input class="form-control" type="text" name="firstName{{i}}" ng-model="member.firstName" required />
                      <p class="help-block" ng-show="clubForm.firstName{{i}}.$error.required && vm.submitted">
                        Prénom requis
                      </p>
                    </div>
                    <div class="col-sm-2" ng-class="{ 'has-success': clubForm.lastName{{i}}.$valid && vm.submitted,
                                                    'has-error': clubForm.lastName{{i}}.$invalid && vm.submitted }">
                      <input class="form-control" type="text" name="lastName{{i}}" ng-model="member.lastName" required />
                      <p class="help-block" ng-show="clubForm.lastName{{i}}.$error.required && vm.submitted">
                        Nom requis
                      </p>
                    </div>
                    <div class="col-sm-2">
                      <select class="form-control select-text-center" name="function" ng-model="member.function">
                        <option value="president">Président</option>
                        <option value="treasurer">Trésorier</option>
                        <option value="member">Membre</option>
                      </select>
                    </div>
                    <div class="col-sm-2" ng-class="{ 'has-success': clubForm.email{{i}}.$valid && vm.submitted,
                                                    'has-error': clubForm.email{{i}}.$invalid && vm.submitted }">
                      <input class="form-control" type="email" name="email{{i}}" ng-model="member.email" required />
                      <p class="help-block" ng-show="clubForm.email{{i}}.$error.email && vm.submitted">
                        Email non valide
                      </p>
                      <p class="help-block" ng-show="clubForm.email{{i}}.$error.required && vm.submitted">
                        Email requis
                      </p>
                      <p class="help-block" ng-show="clubForm.email{{i}}.$error.mongoose">
                        {{ vm.errors.email }}
                      </p>
                    </div>
                    <div class="col-sm-1 signup-members-trash">
                      <i class="fa fa-trash" aria-hidden="true" ng-click="removeMember(i)"></i>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 signup-members-plus text-center" ng-show="members.length < 20">
                      <i class="fa fa-plus-circle" aria-hidden="true" ng-click="addMember()"></i>
                    </div>
                    <div class="col-sm-12 text-center" ng-show="members.length >= 20">
                      <br />Un club d'investissement ne peut légalement contenir que 20 membres au maximum.
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-sm-12 text-center club-finalize-status">
                Pour terminer l'inscription du club d'investissement et bénéficier de Curves gratuitement, merci d'envoyer une copie de vos statuts à <a href="mailto:club@curves-app.com?subject=Statuts du club {{vm.club.clubName}}">club@curves-app.com</a>
              </div>
            </div>

            <div>
              <button class="btn btn-inverse btn-lg btn-register" type="submit"> <!--  ng-click="$ctrl.registerClub()"> -->
                S'enregistrer
              </button>
              <a class="btn btn-default btn-lg btn-login" ui-sref="login">
                Connexion
              </a>
            </div>

          </form>

        </uib-tab>
      </uib-tabset>
    </div>
    <div class="col-sm-12" ng-show="clubSubmitted == true">
      <br /><br />
      Merci pour votre inscription.<br />
      <br />
      Dès que les statuts auront été reçus et traités par notre équipe, chaque membre du club recevra un email pour activer gratuitement son compte personnel.<br />
      <br />
      (Pour rappel, pour terminer l'inscription du club d'investissement et bénéficier de Curves gratuitement, merci d'envoyer une copie de vos statuts à <a href="mailto:club@curves-app.com?subject=Statuts du club {{vm.club.clubName}}">club@curves-app.com</a>)<br />
      <br />
      Merci pour votre confiance !
    </div>
  </div>
  <hr>
</div>
